body {
    background-color: bisque;
}

h1 {
    font-family: sans-serif;
    font-size: 60px;
    text-align: center;
    text-decoration-style: initial;
}

li {
    display: inline;
    text-align: center;
    text-decoration-style: italics;
    font-size: 30px;
    font-style: italic;
}
img.resize {
    width: 200px;
    height: auto;
}
p {
    font-size: 20px;
    font-family: sans-serif;
    font-style: normal;

}